<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <connectionStrings>
    <add name="DBConn" connectionString="localhost;Database=Teste;User ID=NetLabApp;Password=netlabapp@2021;Encrypt=True;TrustServerCertificate=True;Connection Timeout=900;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="UrlArquivo" value="c:/NetLabApp XML" />
  </appSettings>

</configuration>
